<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--This block has to be the first in configuration-->
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>

	<appSettings>

		<!-- Used format: [HH:mm:ss] -->
		<add key="TimerDelay" value="0:5:0"/>
		<add key="OnExceptionDelay" value="0:1:0"/>

		<!--Place your keys here-->

	</appSettings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
		  autoReload="true"
		  throwExceptions="false"
		  internalLogLevel="Off">
		<variable name="LogDir" value="${basedir}/logs"/>
		<variable name="LogDay" value="${date:format=yyyy-MM-dd}"/>
		<targets>
			<target name="MainLogTarget"
					xsi:type="File"
					fileName="${LogDir}/${LogDay}.log"
					encoding="utf-8"
					maxArchiveFiles="9"
					archiveNumbering="Date"
					archiveEvery="Day"
					archiveDateFormat="yyyy-MM-dd"
					archiveAboveSize="10485760"
					archiveFileName="${LogDir}/{#}.archive.txt"/>
		</targets>
		<rules>
			<logger name="*"
					minlevel="Info"
					writeTo="MainLogTarget"/>
		</rules>
	</nlog>

</configuration>
